
div {
  background-color: #EFDAD7;
}
h1 {
  margin: 0 0 0 0;
}
body {
  margin: 0;
}
.topcontainer {
  background-color: red;
  width: 200px;
  height:200px;
}
.middlecontainer {
  background-color: blue;
  width: 200px;
  height:200px;
}
